

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
	margin: 0%;
	font-family: 'Roboto Slab', serif;
}

.container1 {
	background-color: #1F2937;
	padding: 10px;
	margin: 0 auto;
	gap: 20px;
	color: white;
}

.navbar {
	display: flex;
}

#logo {
	font-size: 24px;
	color: #F9FAf8
}

ul {
	display: flex;
}

.header-link {
	font-size: 18px;
	color: #E5E7EB;
	margin: 10px;
}

.navbar-left,.navbar-right {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}

/*NAVBAR ENDS HERE */

.content {
	display: flex;
	gap: 20px;
	padding: 20px;
	background-color: #1F2937;
	justify-content: center;
	align-content: center;
	padding: 80px;
	margin: 0 auto;
	gap: 20px;
}

.content-left {
	display: flex;
	flex-direction: column;
	gap: 0%;
	color: white;
	align-content: center;
	justify-content: center;
}

.content-right {
	display: flex;
	justify-items: flex-end;
	align-items: flex-end;
}

p.content-left {
	padding: 0;
	margin: 0;
}

h1.content-left {
	margin: 0;
	padding: 0;
}

.content-right img {
	max-width: 90%;
	height: auto;
}

#button {
	background-color: #3882F6;
	color: white;
	border-radius: 10%;
	width: 95px;
	height: 30px;
    border: none;
	cursor: pointer;
}