* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: white;
	color: white;
}

.container {
    display: flex;
	background-color: #1F2937;
	padding: 100px;
	margin: 0;
	justify-content: space-between;
	gap: 20px;
}

.logo {
	margin: 0;
	padding: 0;
	border-color: red;
	border: 5px solid red;
	

}

.header1 {
	border-color: red;
	border: 5px solid red;
}

.text {
	border-color: red;
	border: 5px solid red;
}

.button {
	border-color: red;
	border: 5px solid red;
}

.list1 {

	border-color: red;
	border: 5px solid red;
}

.image1 {

	border-color: red;
	border: 5px solid red;
}